<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat</title>

<!--===============================================================================================-->
    <link rel="stylesheet" th:href="@{/css/dashboard.css}">
<!--===============================================================================================-->
    <link rel="icon" type="image/png" th:href="@{/icons/favicon.png}"/>
<!--===============================================================================================-->
</head>
<body>
<div class="chat-container">
    <div class="chat-header">
        <h2>Group Chat</h2>
        <div class="chat-header-right">
            <h2 id="username-insert">Welcome, {username}</h2>
            <button id="log-out-button">Log out</button>
        </div>
    </div>
    <div class="chat-messages" id="chat-messages">
        <!-- Messages will be inserted here -->
    </div>
    <form class="chat-input validate-input" data-validate="Maximum 2000 characters">
        <input type="text" id="message-input" placeholder="Type your message...">
        <button type="submit" id="send-button">Send</button>
    </form>
</div>

<!--===============================================================================================-->
<script th:src="@{https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js}"></script>
<!--===============================================================================================-->
<script type="module" th:src="@{/js/dashboard/main.js}"></script>
<script type="module" th:src="@{/js/dashboard/enhancedTimestamp.js}"></script>
<script type="module" th:src="@{/js/dashboard/addMessage.js}"></script>
<script type="module" th:src="@{/js/dashboard/getPrincipalUsername.js}"></script>
<script type="module" th:src="@{/js/dashboard/fetchChatHistory.js}"></script>
<script type="module" th:src="@{/js/dashboard/socketHandling.js}"></script>
<script type="module" th:src="@{/js/dashboard/sendMessage.js}"></script>
<!--===============================================================================================-->

</body>
</html>
