<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Group Chat</title>

    <link rel="stylesheet" href="../static/css/dashboard_styles.css">
    <link rel="stylesheet" th:href="@{/css/dashboard_styles.css}">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css}">
</head>
<body>
<div class="chat-container">
    <div class="chat-header">
        <h2>Group Chat</h2>
    </div>
    <div class="chat-messages" id="chat-messages">
        <!-- Messages will be inserted here -->
    </div>
    <form class="chat-input">
        <input type="text" id="message-input" placeholder="Type your message...">
        <button type="submit" id="send-button">Send</button>
    </form>
</div>

<!--===============================================================================================-->
<script th:src="@{https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js}"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js}"></script>
<!--===============================================================================================-->
<script th:src="@{https://cdn.jsdelivr.net/npm/sweetalert2@11}"></script>
<!--===============================================================================================-->
<script type="module" th:src="@{/js/dashboard/main.js}"></script>
<script type="module" th:src="@{/js/dashboard/enhancedTimestamp.js}"></script>
<!--===============================================================================================-->

</body>
</html>
